<div class="view-container">
       
    <section class="">
        <h4>Bienvenido username, userage</h4>
    </section>
    <section>
        <div *ngFor="let flight of bookings">
            <app-flight-card 
                id="{{flight.id}}" 
                name="{{flight.name}}" 
                image="{{flight.image}}"
                stock="{{flight.stock}}"
                description="{{flight.description}}"
                from="Profile"
                >
            </app-flight-card>

        </div>
    </section>

</div>
