
<div class="row">
    <section class="hero">
        <div class="img-container">
            <img src="../../assets/hero.jpg" alt="">
        </div>
        <div class="text-above">
            <h2>¡El mejor viaje espacial te esta esperando!</h2>
            <h4>Reserva ahora tus boletos y obten increibles descuentos</h4>
            <button class="btn btn-large orange darken-1" routerLink="/flights"> Conoce más </button>
        </div>
    </section>
    <section class="flights row">
        <div class="text-header col s12 md">
            <h2>Encuentra los mejores viajes Extragalacticos</h2>
        </div>
        <div class="col s12 md">
            <div class="card">
            <div class="card-image">
                <img src="../../assets/juno.jpg">
                <span class="card-title">Juno</span>
                <a routerLink="/flights" class="btn-floating btn-large halfway-fab waves-effect waves-light red">
                    <i class="material-icons">add</i>
                </a>
            </div>
            <div class="card-content">
                <div class="price">Desde: 1800 Odiseas</div>
                <p>
                    Juno spacecraft captured this view of a chaotic, stormy area of the planet's northern hemisphere known as a folded filamentary region. Jupiter has no solid surface in the same way Earth does.
                </p>
            </div>
            </div>
        </div>
        <div class="col s12 md">
            <div class="card">
            <div class="card-image">
                <img src="../../assets/moonage.jpg">
                <span class="card-title">Moonage E36-00B</span>
                <a routerLink="/flights" class="btn-floating btn-large halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
            </div>
            <div class="card-content">
                <div class="price">Desde: 1800 Odiseas</div>
                <p>
                    Adorned with thousands of beautiful ringlets, Saturn is unique among the planets. 
                    All four gas giant planets have rings -- made of chunks of ice and rock 
                    -- but none are as spectacular or as complicated as Saturn's. Like the other gas giants, 
                    Saturn is mostly a massive ball of hydrogen and helium.
                </p>
            </div>
            </div>
        </div>

        

        <div class="text-header col s12 md">
            <h2>Encuentra los mejores viajes galacticos</h2>
        </div>

        <div class="col s12 md">
            <div class="card">
            <div class="card-image">
                <img src="../../assets/jupiter.jpg">
                <span class="card-title">Jupiter</span>
                <a routerLink="/flights" class="btn-floating btn-large halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
            </div>
            <div class="card-content">
                <div class="price">Desde: 1800 Odiseas</div>
                <p>
                    Namesake: Roman god of war.
                    Orbit: About 142 million miles from the sun, 50 percent farther than the Earth.
                    Day: About 24.6 hours. Year: About 687 Earth days.
                </p>
            </div>
            </div>
        </div>

        <div class="col s12 md">
            <div class="card">
            <div class="card-image">
                <img src="../../assets/mars.jpg">
                <span class="card-title">Mars</span>
                <a routerLink="/flights" class="btn-floating btn-large halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
            </div>
            <div class="card-content">
                <div class="price">Desde: 1800 Odiseas</div>
                <p>
                    Namesake: Roman god of war.
                    Orbit: About 142 million miles from the sun, 50 percent farther than the Earth.
                    Day: About 24.6 hours. Year: About 687 Earth days.
                </p>
            </div>
            </div>
        </div>


    </section>

</div>